.gridItem {
  margin: auto;
  box-shadow:var(--box-shadow);
  padding: 1rem;
  transition: transform 0.3s ease 0s, box-shadow .4s;
  font-family: var(--dmsans);
  text-align: left;
  min-height: 520px;
  min-width: 325px;
  border: var(--border-light);

  a {
    all: unset;
    cursor: pointer;
  }

  &:hover {
    transform: scale(1.009); 
    box-shadow: var(--box-shadow);
  }

  .contentTop {
    margin: .5rem 0;
  }

  .infoGrid {
    font-weight: normal;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    span {
      margin: .1rem 0  0 0;
      line-height: 2rem;
    }
  }

  .contentBottom {
    margin: .5rem 0;
  }
}


