.button {
  display: flex;
  width: fit-content;
  background-color: var(--dark-blue);
  color: var(--white);
  transition: .15s;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  align-items: top;

  i {
    font-size: 1.2rem;
    margin-right: .5rem;
  }
}

.red {
  &:hover {
    background-color: var(--red-500);
  }
}

.textColorFilter {
  &:hover {
    filter: brightness(.8);
  }
}