  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "image image details"
                          "image image details"
                          "image image details";
    font-family: var(--dmsans);
    font-weight: normal;

    .banner {
      grid-area: image;
      overflow: hidden;
    }
  }

  .carInfo {
    display: flex;
    flex-direction: column;
    grid-area: details;
    gap: 1rem;
    padding: 1rem;
  }

  .details {
    display: flex;
    flex-direction: column;
  }
  .carTitle {
    font-size: 2.5rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
  }
  .gridItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    padding: 1rem;
    border-top: var(--border-light);
    font-family: var(--roboto);
    
    &:last-child {
      border-bottom: var(--border-light);
    }

    .title {
      color: var(--gray-700);
    }

    .description {
      font-weight: bold;
      align-items: flex-end;
      text-align: end;
    }
  }

  .priceAndContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 0 1rem;
    margin-top: 1rem;

    .price {
      display: flex;
      align-items: center;
    }

    span {
      margin-bottom: 1rem;
      font-size: 2rem;
      font-weight: bold;
      text-align: left;
    }

    .logo {
      margin: 1rem auto;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }

@media (min-width: 1921px) {
  .priceAndContact {
    .buttons {
      flex-direction: column;
    }
  }
}

@media (max-width: 1920px) {
  .carTitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "image image"
                          "details details";
  }
  .carInfo {
    align-items: unset;
  }
}

@media (max-width: 650px) {
  .carInfo {
    gap: 1rem;
  }

  .carTitle {
    font-size: 2rem;
  }

  .grid {
    display: block;
  }

  .gridItem {
    gap: 5rem;
  }

  .description {
    text-align: end;
  }
}