.container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .sidebar {
    position: relative;
    width: 345px;
    min-width: 280px;
    overflow-y: hidden;
    background-color: var(--sidebar);
  }

  .contentContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto;
    grid-template-areas: "dashboardHeader"
                        "content";
    background-color: var(--content);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: dashboardHeader;
    background-color: var(--white);
    border-bottom: var(--border-light);
    box-shadow: var(--box-shadow);
    padding: 1rem 2rem;
    height: 5rem;

    h1 {
      white-space: nowrap;
      margin-right: 2rem;
      color: var(--sidebar);
    }
  }

  .content {
    margin: 1rem 2rem;
    overflow: hidden;
  }
}

@media (max-width: 1350px) {
  .container {
    .content {
      overflow-x: scroll;
    }
  }
}

@media (max-width: 950px) {
  .container {
    display: unset;
    padding: 0;

    .header {
      visibility: hidden;
      opacity: 0;
    }

    .sidebar {
      height: 5rem;
      width: 100.5vw;
      min-width: unset;
      overflow-y: unset;
    }

    .contentContainer {
      height: 100vh;
      margin-top: -5rem;
      background: white;

      .content {
        width: 100vw;
        overflow: unset;
        margin: 0;
      }
    }
  }
}