.hero {
  margin: 3rem 0;
  text-align: center;

  h1 {
    margin-bottom: 2rem;
  }

  button {
    margin: 0 auto;
  }
}

.grid {
  --auto-grid-min-size: 22rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 1rem;
  margin: 3rem 0;
}

@media screen and (min-width: 2463px) {
  .grid {
    --auto-grid-min-size: 32rem;
  }
}

@media screen and (min-width: 2000px) and (max-width: 2462px) {
  .grid {
    --auto-grid-min-size: 30rem;
  }
}

@media screen and (min-width: 1823px) and (max-width: 1999px) {
  .grid {
    --auto-grid-min-size: 25rem;
  }
}

@media (min-width: 1016px) and (max-width: 1456px) {
  .grid {
    div:last-child {
      grid-column: span 3;
    }
  }
}