.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: "filter search search search"
                      "filter card card card";
  font-weight: 500;
}

.search {
  grid-area: search;
  margin: 1.5rem auto;
  width: 100%;
  text-align: left;
}

.filters {
  grid-area: filter;
  position: relative;
  left: 0;
  display: block;
  float: left;

  .filtersContainer {
    margin: 1.5rem auto;
    width: 80%;
    padding: 1rem;
    border: var(--border-light);

    h3 {
      margin-top: .5rem;
      margin-bottom: 1rem;
    }
  }
}

.cards {
  grid-area: card;
  margin: 3rem 0;
  text-align: center;

  button {
    margin-top: 3rem;
  }
}

.grid {
  --auto-grid-min-size: 22rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  gap: 1rem;
}

@media (min-width: 1981px) {
  .grid {
    --auto-grid-min-size: 35rem;
  }
}

@media (max-width: 1050px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(400px,80vw), 1fr));
    grid-template-areas: "search search search"
                        "filter filter filter"
                        "card card card";
  }

  .search {
    width: 100%;    
    margin: 1rem auto;

    .searchbarContainer {
      width: 96%;
      margin: 1rem 1.5rem;
    }
  }

  .filters {
    width: 100%;
    margin: 1rem auto;

    .filtersContainer {
      margin: 1rem 1.5rem;
      width: 86%;
    }
  }
}

@media (max-width: 800px) {
  .filters {
    .filtersContainer {
      width: 87%;
    }
  }
}

@media (max-width: 650px) {
  .filters {
    .filtersContainer {
      width: 88.5%;
    }
  }
}