.mainImg {
  width: 18rem;
  height: auto;
  
  img {
    object-fit: contain;
    height: 250px;
    width: 100%;
  }
}

.thumbnail {
  width: 18rem;
  img {
    object-fit: contain;
    min-height: 72.5px;
    width: 6rem;
  }
}


@media (min-width: 1921px) {
  .mainImg {
    width: 25rem;
    height: auto;
    
    img {
      object-fit: contain;
      height: 300px;
      width: 100%;
    }
  }
  
  .thumbnail {
    width: 25rem;
    img {
      object-fit: contain;
      min-height: 124.7px;
      width: 8.33rem;
    }
  }
}