.dropdown {
  position: absolute;
  top: 30px;
  left: -75px;
  height: auto;
  width: auto;
  white-space: nowrap;
  transform: translateX(-45%);
  background-color: var(--white);
  border-radius: var(--rounded-md);
  box-shadow: var(--box-shadow);
  border: var(--border-light);
  overflow: hidden;
  padding: 0 0;
}