.container {
  width: 370px;

  .slot {
    display: block;
    width: 100%;
    margin: .5rem auto;
    
    input[type=radio] {
      height: 1rem;
      width: 1rem;
      line-height: 1rem;
      box-sizing: border-box;
      appearance: none;
      outline: 2px solid var(--dark-gray);
      border: 2px solid var(--white);
      margin: -.15rem auto;
      transition: .15s ease-in;

      &:hover {
        background-color: var(--content);
      }

      &:checked {
        background: var(--dark-gray);
      }
    }
  
    label {
      font-size: 15px;
      margin-left: .5rem;
      line-height: 1rem;
    }
  }

  .separator {
    display: flex;
    margin: 1rem auto;
    content: '';
    height: 1px;
    width: 95%;
    background-color: var(--gray-100);
  }

  .expandOrShrink {
    margin: .3rem 0;
    cursor: pointer;
  }
}

@media (max-width: 1050px) {
  .container {
    .slot {
      width: inherit;

      input {
        width: inherit;
        margin: 0;
      }
    }
  }
}